.modal {
  background: var(--white);
  width: 95%;
  max-width: 1050px;
  border-radius: var(--radius);
  display: flex;
  overflow: hidden;
  position: relative;
  border-top: 6px solid var(--primary);
}

.modal-info .price {
  color: var(--primary);
  font-size: 26px;
  font-weight: 800;
}

.details li strong {
  color: var(--secondary);
}

.btn-whatsapp {
  background: var(--success);
  color: var(--white);
  padding: 16px;
  display: block;
  text-align: center;
  border-radius: var(--radius);
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
